<header class="header" role="banner" data-js-hook="sticky-header">
  <h1 class="site-logo">Hello world</h1>
  <ul class="global-nav">
    <li class="global-nav__item"><a href="">Product</a></li>
    <li class="global-nav__item"><a href="">Pricing</a></li>
    <li class="global-nav__item"><a href="">Support</a></li>
  </ul>
</header>