{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true,
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        // enable additional rules
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "double"],
        "semi": ["error", "always"],

        // セミコロンの前後どっちにも空白つける
        "key-spacing": [2, {
          "beforeColon": false,
          "afterColon": true,
        }],

        // override default options for rules from base configurations
        "comma-dangle": ["error", "never"],
        "no-cond-assign": ["error", "always"],

        // disable rules from base configurations
        "no-console": "off",
        'no-unused-vars': ['warn'],
    }
}


