
// tooltip
// ================================
.tooltip {
    $_this: &;
    $_iconSize: 40px;
    position: relative;
    display: inline-block;
    width: $_iconSize;
    height: $_iconSize;
    text-align: center;
    cursor: pointer;

    svg {
        height: $_iconSize;
        width: $_iconSize;
        pointer-events: none; // ホバー範囲のバグっぽさ
    }

    &:hover {
        svg g {
            fill: black;
        }

        #{$_this}__text {
            display: block;
        }
    }

    &__text {
        display: none;
        position: absolute;
        right: auto;
        bottom: 100%;
        left: $_iconSize / 2;
        width: 400px;
        margin-bottom: 7px;
        padding: 8px 12px;
        font-size: 1.1rem;
        line-height: 1.4;
        text-align: left;
        color: #fff;
        border-radius: 5px 5px 5px 0;
        background-color: rgba(74, 74, 74, .9);

        &::before {
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 0;
            content: "";
            border-top-width: 10px;
            border-top-style: solid;
            border-top-color: rgba(74, 74, 74, 0.9);
            border-right: 12px solid transparent;
        }

        &.is_left {
            right: $_iconSize / 2;
            left: auto;
            border-radius: 5px 5px 0px 5px;

            &::before {
                right: 0;
                left: auto;
                border-right: none;
                border-left: 12px solid transparent;
            }
        }

        &.is_centered {
            right: auto;
            left: -180px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px 5px 5px 5px;

            &::before {
                right: -100%;
                left: -100%;
                margin-left: auto;
                margin-right: auto;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
            }
        }

        &.is_bottom {
            bottom: auto;
            top: 110%;
            right: auto;
            left: -180px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px 5px 5px 5px;

            &::before {
                top: auto;
                bottom: 100%;
                right: -100%;
                left: -100%;
                margin-left: auto;
                margin-right: auto;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: none;
                border-bottom-width: 10px;
                border-bottom-style: solid;
                border-bottom-color: rgba(74, 74, 74, 0.9);
            }
        }
    }
}


// tab
// ================================
.tab {
    $_this: &;
    width: 100%;

    &__nav {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    &__item {
        flex: 1 1 auto;
    }

    &__item-text {
        display: block;
        width: 100%;
        padding: 10px 30px;
        text-align: center;
        cursor: pointer;

        &.is_active, &:hover {
            color: #fff;

            #{$_this}__item:nth-of-type(1) & {
                background-color: cyan;
            }

            #{$_this}__item:nth-of-type(2) & {
                background-color: chartreuse;
            }

            #{$_this}__item:nth-of-type(3) & {
                background-color: fuchsia;
            }
        }
    }

    &__content {
        height: 100px;

        &:nth-of-type(1) {
            background-color: cyan;
        }

        &:nth-of-type(2) {
            background-color: chartreuse;
        }

        &:nth-of-type(3) {
            background-color: fuchsia;
        }
        display: none;

        &.is_active {
            display: block;
        }
    }
}